
@{
    ViewBag.Title = "FacebookDownloader";
}

<div id="loader"></div>

<div class="jumbotron">
    <h1>Facebook downloader</h1>
</div>
<div id="loader"></div>
<div id="content" class="row container">
    <div class="mx-auto">
        <span class="text-success">กรอก URL Facebook ตรงนี้</span>
        <input id="fblinksURL" class="mx-2" type="text" />
        <a id="fblink" class="btn btn-primary d-none" href="#" download>Download</a>
        <input class="btn btn-light" id="fbdownload" type="button" value="Generate Link" />
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    <script>
        //$('#fbdownload').click(function () {
        //    window.location.href = "/api/Facebook?link=" + $('#fblinksURL').val();
        //});
        $(document).ready(function () {
            $('#fbdownload').click(function () {
                //$("div#loader").show();
                $("input#fbdownload").hide();
                $("a#fblink").removeClass("d-none");
                $("a#fblink").attr('href', "/api/Facebook?link=" + $('#fblinksURL').val());
            });
            $('#fblink').click(function () {
                $("div#loader").show();
                alert("กรุณาอย่าปิดหน้านี้ ระบบจะเริ่มดาวน์โหลดในไม่ช้า");
                window.location.href = "/Home/FacebookDownloader";
            });
        });
    </script>
}